# GIT
GIT_REPO_URL=https://github.com/your-repo/docker-compose-app.git

# AWS Configuration
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key 
AWS_REGION=us-east-1

# GCP Configuration
GCP_REGION=us-central1
GCP_ZONE=us-central1-a
GOOGLE_CREDENTIALS=your_gcp_service_account_json_file

# SSH Keys
SSH_PUBLIC_KEY=ssh-rsa AAAA...your_public_key
SSH_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\nYour_private_key\n-----END RSA PRIVATE KEY-----